<% blogs.each do |blog| %>

<div class="form">

  <div class="element">
    <%= link_to "#{blog.title}", blog_url(blog.id) %>
  </div>

  <% if @band_member %>
  <div class="element">
      <%= link_to "Edit", edit_blog_url(blog.id) %>
      <%= link_to "Delete", destroy_blog_url(blog.id), :method => :delete %>
  </div>
  <% end  %>

  <p><%= blog.body %></p>

<% end %>