<h1>Blog</h1>

<%= flash[:blog_destroyed] %>

<%= render "blog_form", :blogs => @blogs %>

<p><font color=red, size=4px>BUTTON: DELETE BLOG</font></p> <!-- this shows in green? -->

<p><%= link_to "Post New Blog Entry", new_blog_url %></p>