<% title "Blog" %> <!-- Suggested by RailsCast 139, what does this line do? -->

<div id="blog">
  
  <h1>Blog</h1>
  <p><%= flash[:blog_destroyed] %></p>
  
  <%= render "blog_form", :blogs => @blogs %>  

  <% if @bandmember %>
    <p><%= link_to "New Blog Post", new_blog_url %></p>
  <% end %>
  
</div>

