<!-- Invoked in "articles/articles" :: Articles#index -->

<% comments.each do |comment| %>
  <%#= comment.user.name + "said..." %><br /> <!-- how to get this working?... -->
  <p><%= comment.body %></p>
<% end %>
