<div id="blog">
  
  <div class="heading">
    <% if @bandmember %><%= link_to "New Blog Post", new_article_url %><% end %>
    <h1>BLOG</h1>
  </div>
  
  <%= flash[:article_destroyed] %>
  
  <%= render "articles", :articles => @articles %>  
  
</div>

