<div id="blog">
  
  <div class="heading">
    <h1>BLOG</h1>
    <% if @bandmember %><%= link_to "New Blog Post", new_article_url %><% end %>
  </div>
  
  <p><%= flash[:article_destroyed] %></p>
  
  <%= render "articles", :articles => @articles %>  
  
</div>

