<h1>New User</h1>

<%= flash[:user_not_created] %>

<p>Please fill in the following fields, and then submit:</p>

<%= render "form", user:@user %>

<p><%= link_to "Users", users_url %></p>
<p><%= link_to "Home", home_url %></p>