<h1>Songs to Stream Free</h1>

<%= flash[:song_created] %>
<%= flash[:song_destroyed] %>

<%= render "song_form", :songs => @songs %>
  
<p><font color=red, size=4px>BUTTON: DELETE ALL SONGS</font></p> <!-- this shows in green? -->

<p><%= link_to "Upload New Song", new_song_url %></p>


