<h1>All Venues</h1>

<%= flash[:venue_destroyed] %>

<%= render "venue_form", :venues => @venues %>

<p><font color=red, size=4px>BUTTON: DELETE ALL VENUES</font></p> <!-- this shows in green? -->

<p><%= link_to "Add a Venue", new_venue_url %></p>