<h1>New Venue</h1>

<%= flash[:venue_not_created] %>

<p>Please fill in the following fields, and then submit:</p>

<%= render "form" %>

<p><%= link_to "All Venues", venues_url %></p>
<p><%= link_to "Home", home_url %></p>