<h1>New Venue</h1>

<%= flash[:venue_not_created] %>

<p>Please fill in the following fields, and then submit:</p>

<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Street</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">ZIP</th>
      <th scope="col">Website</th>
    </tr>
  </thead>
  <tbody>
 
   <%= render "form" %>
 
  </tbody>
</table>

<p><%= link_to "All Venues", venues_url %></p>
<p><%= link_to "Home", home_url %></p>