<h1>All Fans</h1>

<%= flash[:fan_destroyed] %>

<%= render "fan_form", :fans => @fans %>

<p><font color=red, size=4px>BUTTON: DELETE ALL FANS</font></p> <!-- this shows in green? -->

<p><%= link_to "Create a Fan Profile", new_fan_url %></p>
<%= render "/home/resource_form" %>
