<div id="music">
  
  <div class="heading">
    <h1>ALBUMS</h1>
    <% if @bandmember %><%= link_to "New Album", new_article_url %><% end %>
  </div>

  <%= flash[:album_destroyed] %>

  <%= render "albums", :albums => @albums %>
  
</div>