<h1>New Album</h1>

<%= flash[:album_not_created] %>

<p>Please fill in the following fields, and then submit:</p>

<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Release Date</th>
      <th scope="col">Cover Art</th>
    </tr>
  </thead>
  <tbody>
    
    <%= render "form" %>
  
  </tbody>
</table>

<p><%= link_to "Albums", albums_url %></p>
<p><%= link_to "Home", home_url %></p>

