<h1>New Album</h1>

<%= flash[:album_not_created] %>

<p>Please fill in the following fields, and then submit:</p>

<table>
  <tbody>
    
    <%= render "form" %>
  
  </tbody>
</table>

<p><%= link_to "Albums", albums_url %></p>
<p><%= link_to "Home", home_url %></p>

