<%= flash[:album_not_created] %>

<h1>New Album</h1>

<p>Please fill in the following fields, and then submit:</p>

<%= render "form" %>
  
<p><%= link_to "Albums", albums_url %></p>
<p><%= link_to "Home", home_url %></p>

