<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Associated Content</th>
    </tr>
  </thead>
  <tbody>
    <% tags.each do |tag| %>
    <tr>
      <td><%= link_to "#{tag.name}", tag_url(tag.id) %></td>
      <td>Placeholder for Associated Content</td>
      <td><%= link_to "Edit", edit_tag_url(tag.id) %></td>
      <td><%= link_to "Delete", destroy_tag_url(tag.id), :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
