.album_title {
	font-size: 15px;
	font-family: sans-serif;
	font-style: italic;
	color: blue;
	padding: 30px 10px 10px 10px;	
}

a {
	color:black;
	text-decoration: none;
}

h1 {
	color: teal;
	font-family: arial;
	font-size: 30px;
	padding-top: 30px;	
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

h2 {
	color: teal;
	font-family: arial;
	font-style: oblique;
	font-size: 20px;
	padding: 9px;
}

h3 {
	color: teal;
	font-family: arial;
	font-style: oblique;
	font-size: 15px;
	padding: 9px;
}


td {
	color: black;
	font-family: arial;
	font-size: 15px;
	padding: 5px 10px 5px 10px;
}

p {
	color: black;
	font-family: courier;
	font-size: 10px;
	padding: 7px 10px;
}

li {
	color: black;
	font-family: courier;
	font-size: 12px;
	padding: 5px 10px;	
}

.form {
	color: black;
	font-family: arial;
	font-size: 15px;
	padding-top: 5px 10px;
}

