html,
body {
	background: url("wallpaper.jpg") center repeat;  /* to tile from top-left, replace center w/ 0 0 */
	margin: 0;
	padding: 0;
	height: 100%;
}
#container {
	background: #fff;
	margin: 0 auto;
	min-height: 100%;
	width: 700px;
	position: relative;
	border: solid #00495A 5px;
}

/*-: HEADER STUFF :-.......................................................*/
#header {
	padding: 0px;
}
#header p {
	text-align: center; /*this centers the logo in the header, is there a better way?*/
}
#centeredmenu {   /* <== This is the stuff that centers the navs*/
  float: left;
  width: 100%;
  background: #fff;
  border-bottom: 4px solid #00495A;
  overflow: hidden;
  position: relative;
}
#centeredmenu ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}
#centeredmenu ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 50%;
}
#centeredmenu ul li a {
  display:block;
  margin: 0 0 0 1px;
  padding: 3px 10px;
  background: #ddd;
	border-top: 1px solid #00495A;
	border-right: 1px solid #00495A;
	border-left: 1px solid #00495A;
  color:#000;
  text-decoration:none;
  line-height:1.3em;
}
#centeredmenu ul li a:hover {
  background:#369;
  color:#fff;
}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
  color:#fff;
  background:#000;
  font-weight:bold;
}

/*---------------------------------------------------------------------------------
																BODY STUFF
  ---------------------------------------------------------------------------------*/

#body	{
	padding: 20px 20px 20px 20px;
	padding-bottom: 30px; /*height of the footer*/
}
#loginalert {
	padding: 5px;
	text-align: center;
	font-family: arial;
	color: #C12F3C;
/*	background: #ddd;
	border-bottom: 1px solid #00495A;
	border-left: 1px solid #00495A;
	border-right: 1px solid #00495A;   for some reason this stuff adds a long grey box even w/o notice */
}
.album_title {
	font-size: 15px;
	font-family: arial;
	color: blue;
	padding: 30px 10px 10px 10px;	
}
.form {
	color: black;
	font-family: arial;
	font-size: 15px;
	padding: 5px 10px;
}
.element {
	padding: 5px 10px;
}
.element_title {
	color: #3D7570;
	font-family: arial;
	font-size: 20px;
}

/*----------------------
   FOR BLOG INDEX                 
  ----------------------
   #blog
 			.heading
				h1
				a
       .head
           table
               tr
                   th
                       a
                   td
                       a
       .body         
           p
           .datado
               .comment
                   #new_comment_for_DOM_ID ARTICLE_link
               form
                   text-field
       .foot
           .clickable
           .comment
               #ARTICLE.ID_comment
                   form
                                                 */
	#blog {
	}
		#blog .heading {  
			text-align: center;
			border-bottom: 3px solid #00495A;	
			width: 180px;	
			margin: auto;		/* gets the heading to center with a limited border width */
		}
				#blog .heading h1 {  /* The big "BLOG" title at the top  */
					color: #00495A;
					font-family: times;
					font-size: 45px;
					
				}
				#blog .heading a {  /* IF bandmember, this is the add new article button */
					text-decoration: none;
					text-align: right;
					padding: 3px 10px;
					font-family: courier;
					font-size: 12px;
					color: #00495A;
					background: #ddd;
					border: 1px solid #00495A
				}
				#blog .heading a:hover {
				  background:#992018;
				  color:#fff;
				}
		
		#blog .head {  /*layout of article title(h1[a]) & edit+delete(.datado)*/
			background: #FFF;
			margin: 30px 0px 3px 0px;
		}			
				#blog .head table {
					width: 100%;
				}	
						#blog .head table tr {
						}
								#blog .head table tr th {
									text-align: left;
								}
										#blog .head table tr th a { /*what the article title looks like*/
											text-decoration: none;
											color: #184E99;
											font-family: verdana;
											font-size: 20px;
										}				
								#blog .head table tr td	{
									text-align: right;
								}
										#blog .head table tr td	a {  /*edit+delete button formatting*/
											text-decoration: none;
											padding: 3px 10px;
											font-family: courier;
											font-size: 12px;
											color: #00495A;
											background: #ddd;
											border: 1px solid #969696;
										}
										#blog .head table tr td	a:hover {
										  background:#992018;
										  color:#fff;
										}		
				
				#blog .head h1 { /*where the article title is positioned*/
					padding-right: 150px;
				}
					
		#blog .body {
		}
				#blog .body p { 	/*formatting content (:body) of articles*/
					background: #D0FFE7; /*baby blue*/
					color: black;
					font-family: courier;
					font-size: 12px;
					line-height: 20px;
					padding: 7px 10px 7px 10px;
					border: 1px solid #969696;
				}
				#blog .body .datado {
					/*margin: 0px 0px 10px 0px;*/
				}
						#blog .body .datado .comment {  /*formatting of the "Comment" button*/
							width: 51px;
							text-decoration: none;
							padding: 3px 10px;
							font-family: courier;
							font-size: 12px;
							color: #00495A;
							background: #ddd;
							border-right: 1px solid #969696;	/*no border-top to blend with .body p*/		
							border-bottom: 1px solid #969696;					
							border-left: 1px solid #969696;					
						}
								#blog .body .datado .comment:hover {
									background:#369;
								  color:#fff;
								}
						#blog .body .datado form {
							width: 100%;
						}	
								#blog .body .datado form textarea { /* pop-down comment area */
									background: #fff;
									border: 1px solid #969696;
									width: 99%;
									height: 100px;
								}
		#blog .foot {
			margin: 10px 0px 0px 10px;
		}
				#blog .foot .clickable {  /* the "Comments" heading for past comments */
					text-decoration: none;
					font-family: verdana;
					font-size: 12px; /* (x-,xx-)small(er), medium, (x-,xx-)large(r), length */ 
					font-weight: 700; /* this sets boldness (values by hundred b/t 100-900) */
				}
				#blog .foot .comment{
					text-decoration: none;
					font-family: courier;
					font-size: 12px;
					margin: 10px 0px 0px 10px;
				}

/*-----------------------------------------------------------------------------
	FOOTER STUFF
	-----------------------------------------------------------------------------*/
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px; /*height of the footer*/
	padding: 0px 0px 0px 0px;
	text-align: center;
	font-family: arial;
	color: #3D7570;
}

