<%= flash[:gig_destroyed] %>

<h1>Concerts</h1>

<h2>Upcoming</h2>

<table>
  <tbody>
    
    <%= render "futuregigs" %>
  
  </tbody>
</table>

<h3>Past</h3>

<table>
  <tbody>
  
    <%= render "pastgigs" %>
  
  </tbody>
</table>

<% if @bandmember %>
  <p><%= link_to "Add a Gig", new_gig_url %></p>
<% end %>

