<h1>Concerts</h1>

<%= flash[:gig_destroyed] %>

<h2>Upcoming</h2>

<table>
  <tbody>
    
    <%= render "gig_form", :gigs => @upcoming_gigs %>
  
  </tbody>
</table>

<h3>Past</h3>

<table>
  <tbody>
  
    <%= render "gig_form", :gigs => @past_gigs %>
  
  </tbody>
</table>

<p><font color=red, size=4px>BUTTON: DELETE ALL GIGS</font></p> <!-- this shows in green? -->

<p><%= link_to "Add a Gig", new_gig_url %></p>