<%= flash[:gig_destroyed] %>

<h1>Concerts</h1>

<h2>Upcoming</h2>

<table>
  <tbody>
    
    <%= render "futuregigs_form" %>
  
  </tbody>
</table>

<h3>Past</h3>

<table>
  <tbody>
  
    <%= render "pastgigs_form" %>
  
  </tbody>
</table>

<% if @bandmember %>
  <p><font color=red, size=4px>BUTTON: DELETE ALL GIGS</font></p> <!-- this shows in green? -->
<% end %>

<p><%= link_to "Add a Gig", new_gig_url %></p>