<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">URL</th>
      <th scope="col">Gigs</th>
      <th scope="col">Contacts</th>
    </tr>
  </thead>
  <tbody>
    <% acts.each do |act| %>
    <tr>
      <td><%= link_to "#{act.name}", act_url(act.id) %></td>
      <td><%= act.url %></td>
      <td>Placeholder for Gigs Played w/ Birthdays</td>
      <td>Placeholder for Contacts</td>
      <td><%= link_to "Edit", edit_act_url(act.id) %></td>
      <td><%= link_to "Delete", destroy_act_url(act.id), :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
