<% if @band_member %>
  
  <%= flash[:act_destroyed] %>

  <h1>We've played with...</h1>

  <%= render "act_form", :acts => @acts %>

  <p><font color=red, size=4px>BUTTON: DELETE ALL ACTS</font></p> 
  <!-- ^ this shows in green? -->

  <p><%= link_to "Add Act", new_act_url %></p>

  <% else %>

  <% redirect_to :back %>

<% end %>