<% if @bandmember %>
  
  <%= flash[:act_destroyed] %>

  <h1>We've played with...</h1>

  <%= render "acts", :acts => @acts %>

  <p><%= link_to "Add Act", new_act_url %></p>

  <% else %>

  <%= redirect_to home_url %> <!-- THIS DOES'T WORK...WHY? -->

<% end %>