<% if @band_member %>

	<h1>New Act</h1>

	<%= flash[:act_not_created] %>

	<%= render "form" %>
	  
	<p><%= link_to "Acts", acts_url %></p>
	<p><%= link_to "Home", home_url %></p>

  <% else %>

  	<% redirect_to :back %>

<% end %>